
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>五姐妹购物平台</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" />
    <link href="~/Content/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" />
    <link href="~/Content/basic/css/demo.css" rel="stylesheet" />
    <link href="~/Content/css/hmstyle.css" rel="stylesheet" />
    <script src="~/Content/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="~/Content/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui-v2.4.5/layui/layui.js"></script>

    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layui-v2.4.5/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <script src="~/layui-v2.4.5/layui/lay/modules/layer.js"></script>
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
</head>
<body>
    <div class="hmtop">
        <!--顶部导航条 -->
        <div class="am-container header">
            <ul class="message-l">
                <div class="topMessage">
                    <div class="menu-hd">
                        @*@if (ViewBag.User.UserInfoHead == "")
                        {*@
                            <a href="#" target="_top" class="h">亲，请登录</a>
                            <a href="#" target="_top">免费注册</a>
                        @*}
                        else
                        {
                            <h3>欢迎回家:@ViewBag.User.UserInfoName &nbsp;&nbsp; <img style="width:50px;height:50px;border-bottom-right-radius:50%;border-bottom-left-radius:50%;border-top-right-radius:50%;border-top-left-radius:50%" src="@ViewBag.User.UserInfoHead" /></h3>
                        }*@
                    </div>
                </div>
            </ul>
            <!--个人收藏-->
            <ul class="message-r">
                <div class="topMessage home">
                    <div class="menu-hd"><a href="javascript:location.href='/ShowMasters/ShowMaster'" target="_top" class="h">商城首页</a></div>
                </div>
                <div class="topMessage my-shangcheng">
                    <div class="menu-hd MyShangcheng"><a href="javascript:location.href='/Personal/SingePersonalCenter'" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
                </div>
                <div class="topMessage mini-cart">
                    <div class="menu-hd"><a id="mc-menu-hd" href="javascript:location.href='/ShopCar/SingShopCar'" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>我的购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
                </div>
                <div class="topMessage favorite">
                    <div class="menu-hd"><a href="javascript:location.href='/ShowMasters/GoodsAddCollect'" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>商品收藏</span></a></div>
                </div>
            </ul>
        </div>
        <!--悬浮搜索框-->
        <div class="nav white">
            <div class="logo"><img src="~/Content/images/logo.png" /></div>
            <div class="logoBig">
                <li><img style="width:155px;height:77px;padding-top:17px;" src="~/Content/231.png" /></li>
            </div>
            <div class="search-bar pr">
                <form>
                    <input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" />
                    <input id="ai-topsearch" class="submit am-btn" onclick="Ser()" value="搜索" />
                </form>
            </div>
        </div>
    </div>
    <b class="line"></b>
    <div class="shopNav">
        <div class="slideall" style="height: auto;">
            <div class="long-title"><span class="all-goods">全部分类</span></div>
            <div class="nav-cont">
                <ul>
                    <li class="index"><a href="#">首页</a></li>
                </ul>
                <div class="nav-extra">
                    <a href="javascript:location.href='/ShowMasters/DisCount'"><i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>去领优惠券</a>
                    <i class="am-icon-angle-right" style="padding-left: 10px;"></i>
                </div>
            </div>
            <!--轮播-->
            <div class="bannerTwo" style="margin:0 auto;width:79%;height:280px;">
                <div class="layui-carousel" id="test1">
                    <div carousel-item=carousel-item id="lunbo">
                    </div>
                </div>
            </div>
            <!--侧边类型导航 -->
            <div id="nav" class="navfull" style="position: static;">
                <div class="area clearfix">
                    <div class="category-content" id="guide_2">
                        <div class="category" style="box-shadow:none ;margin-top: 2px;">
                            <ul class="category-list navTwo" id="js_climit_li">
                                @foreach (var item in ViewBag.Father)
                                {
                                    <li>
                                        <div class="category-info">
                                            <h3 class="category-name b-category-name"><a onclick="Alist(@item.ClothesTypeId)" href="#" class="ml-22">@item.ClothesTypeName</a></h3>
                                            <em>&gt;</em>
                                        </div>
                                        <div class="menu-item menu-in top">
                                            <div class="area-in">
                                                <div class="area-bg">
                                                    <div class="menu-srot">
                                                        <div class="sort-side">
                                                            <dl class="dl-sort">
                                                                @foreach (var m in ViewBag.Alist)
                                                                {
                                                                    if (m.ClothesTypePid == item.ClothesTypeId)
                                                                    {
                                                                        <dd><a onclick="Alist(@m.ClothesTypeId)" href="#"><span class="red">@m.ClothesTypeName</span></a></dd>
                                                                    }
                                                                }
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <b class="arrow"></b>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--导航 -->
            <script type="text/javascript">
                (function () {
                    $('.am-slider').flexslider();
                });
                $(document).ready(function () {
                    $("li").hover(function () {
                        $(".category-content .category-list li.first .menu-in").css("display", "none");
                        $(".category-content .category-list li.first").removeClass("hover");
                        $(this).addClass("hover");
                        $(this).children("div.menu-in").css("display", "block")
                    }, function () {
                        $(this).removeClass("hover")
                        $(this).children("div.menu-in").css("display", "none")
                    });
                })
            </script>
            <!--昨日热卖-->
            <style>
                .lii{
                    width:100px;
                    height:100px;
                    border:solid;
                }
            </style>
            <div class="row">
                <ul id="hotgoods">
                </ul>
            </div>
            <div class="clear"></div>
            <!--商城公告-->
            <div class="marqueenTwo" style="height:280px;">
                <span class="marqueen-title"><i class="am-icon-volume-up am-icon-fw"></i>商城头条<em class="am-icon-angle-double-right"></em></span>
                <div class="demo">
                    <ul>

                        <li><a class="gao" target="_blank" href="#"><span>[特惠]</span>女生节商城爆品1分秒	</a></li>
                        <li><a class="gao" target="_blank" href="#"><span>[公告]</span>华北、华中部分地区配送延迟</a></li>
                        <li><a class="gao" target="_blank" href="#"><span>[特惠]</span>家电狂欢千亿礼券 买1送1！</a></li>
                        <li><a class="gao" target="_blank" href="#"><span>[特惠]</span>洋河年末大促，低至两件五折</a></li>
                        <li><a class="gao" target="_blank" href="#"><span>[公告]</span>华北、华中部分地区配送延迟</a></li>
                    </ul>
                </div>
            </div>
            <style>
                .gao:hover {
                    color: #F03726;
                }
            </style>
            <script type="text/javascript">
                if ($(window).width() < 640) {
                    function autoScroll(obj) {
                        $(obj).find("ul").animate({
                            marginTop: "-39px"
                        }, 500, function () {
                            $(this).css({
                                marginTop: "0px"
                            }).find("li:first").appendTo(this);
                        })
                    }
                    $(function () {
                        setInterval('autoScroll(".demo")', 3000);
                    })
                }
            </script>
        </div>
            
        <!--秒杀-->
        <div class="am-container">
            <div class="sale-mt">
                <i></i>
                @*<img src="~/images/kill.png" style="margin-top:22px;margin-left:-319px;width:56px;height:50px;border-bottom-left-radius:28%" />*@
                <em class="sale-title">限时秒杀</em>
                <div class="s-time" id="countdown">
                    <span id="shi" class="hh">00</span>
                    <span id="fen" class="mm">00</span>
                    <span id="miao" class="ss">00</span>
                </div>
            </div>
            <div id="kills" class="am-g am-g-fixed sale">
            </div>
        </div>
        <script>
            //Demo
            layui.use('form', function () {
                var form = layui.form;

                //监听提交
                form.on('submit(formDemo)', function (data) {
                    layer.msg(JSON.stringify(data.field));
                    return false;
                });
            });
        </script>
        <style>
            .ms {
                width: 68px;
                height: 40px;
                border-width: 1px;
                margin-top: -36px;
                margin-left: 183px;
                background-color: white;
                text-align: center;
                color: black;
            }

            .mss {
                width: 68px;
                height: 40px;
                border-width: 1px;
                margin-top: -36px;
                margin-left: 183px;
                background-color: white;
                text-align: center;
            }

            .hot {
                width: 250px;
                height: 300px;
                border: solid;
                border-width: 1px;
                border-color: #F9F9F9;
            }
                .hot:hover {
                    padding-top: 5px;
                    padding-right: 5px;
                    padding-left: 5px;
                    padding-bottom: 5px;
                }
            .liimg:hover {
                padding-top:5px;
                padding-right:5px;
                padding-left:5px;
                padding-bottom:5px;
            }
        </style>
    </div>
</body>
</html>
<script>
    var Times = 5;
    var Shi = 0;
    var Fen = 0;
    var Miao = 0;
    var ids = [];
    //轮播初始显示
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        $.ajax({
            url: "http://localhost:50519/api/GoodsInfo/GetActibityInfos",
            dataType: "json",
            type: "get",
            contentType: "application/x-www-form-urlencoded",
            success: function (d) {
                $("#lunbo").empty();
                console.log(d);
                $(d).each(function () {
                    var html = "<div><a onclick='Lun(" + this.goodsInfoIdOut + ")'><img src='" + this.actibityInfoImg + "' style='width:100%' /></a></div>";
                    ids.push(this.actibityInfoId);
                    $("#lunbo").append(html);
                })
                //建造实例
                carousel.render({
                    elem: '#test1'
                    , width: '80%' //设置容器宽度
                    , arrow: 'always' //始终显示箭头
                    , interval: 2000
                });
            },
            //成功之后修改当前轮播
            complete: function () {
                //$.ajax({
                //    url: "http://localhost:50519/api/goodsinfo/updateactibityinfosbyids?ids=" + ids.toString(),
                //    datatype: "json",
                //    type: "get",
                //    contenttype: "application/x-www-form-urlencoded",
                //    success: function (d) {

                //    }
                //});
            }
        });
    });
    function Lunbo() {
        //秒杀显示
        $.ajax({
            url: "http://localhost:50519/api/GoodsInfo/GetKillInfos",
            datatype: "json",
            type: "get",
            contenttype: "application/x-www-form-urlencoded",
            success: function (d) {
                $("#kills").empty();
                $(d).each(function () {
                    var html = "<div class='am-u-sm-3 sale-item'>"+
                        "<div class='s-img'>" +
                        "<a><img class='liimg' style='width:200px;height:250px;' onclick='KillImg(" + this.goodsInfoIdOut +")' src='" + this.killInfoImg + "' /></a>" +
                            "</div>" +
                        "<div class='s-info'>" +
                        "<a href='#'><p class='s-title'>快快抢购</p></a>" +
                        "<div class='s-price'>￥<b>" + this.goodsInfoPrice+"</b>" +
                        "<div class='ms' style=''>" +
                        "<form class='layui-form'>" +
                        "<button type='button'  class='layui-btn layui-btn-disabled'>秒杀</button>" +
                            "</form>" +
                            "</div>" +
                        "<div class='mss' style=''>" +
                        "<form class='layui-form'>" +
                        "<button type='button' onclick='Kill(" + this.goodsInfoIdOut +")' class='layui-btn layui-btn-danger'>秒杀</button>" +
                         "</form>" +
                            "</div>" +
                            "</div>" +
                            "</div>" +
                        "</div>";
                    $("#kills").append(html);
                })
                //秒杀
                var len = 0;
                $(".mss").hide();
                var timer = setInterval(function () {
                    var s = (Times % 60) < 10 ? ('0' + Times % 60) : Times % 60;
                    var h = Times / 3600 < 10 ? ('0' + parseInt(Times / 3600)) : parseInt(Times / 3600);
                    var m = (Times - h * 3600) / 60 < 10 ? ('0' + parseInt((Times - h * 3600) / 60)) : parseInt((Times - h * 3600) / 60);
                    $("#shi").text(h);
                    $("#fen").text(m);
                    $("#miao").text(s);
                    if (Times == 0) {
                        clearTimeout(timer);
                        $(".ms").hide();
                        $(".mss").show();
                        setTimeout(function () {
                            $(".ms").show();
                            $(".mss").hide();
                            //三秒之后就停止秒杀
                        }, 3000);
                    }
                    Times--;
                    //时间每秒显示
                }, 1000)
            },
            complete: function () {
                //热卖初始显示
                $.ajax({
                    url: "http://localhost:50519/api/GoodsInfo/GetGoodsInfoTop",
                    dataType: "json",
                    type: "get",
                    contentType: "application/x-www-form-urlencoded",
                    success: function (d) {
                        $("#hotgoods").empty();
                        $(d).each(function () {
                            var html = "<li><a onclick='Hot(" + this.goodsInfoId + ")'><img class='hot'   src='" + this.goodsInfoImage + "' /></a></li>";
                            $("#hotgoods").append(html);
                        })
                    },
                    complete: function () {
                        //轮播24小时显示
                        setInterval(function () {
                            layui.use('carousel', function () {
                                var carousel = layui.carousel;
                                $.ajax({
                                    url: "http://localhost:50519/api/GoodsInfo/GetActibityInfos",
                                    dataType: "json",
                                    type: "get",
                                    contentType: "application/x-www-form-urlencoded",
                                    success: function (d) {
                                        $("#lunbo").empty();
                                        $(d).each(function () {
                                            var html = "<div><a onclick='Lun(" + this.goodsInfoIdOut + ")'><img src='" + this.actibityInfoImg + "' style='width:100%' /></a></div>";
                                            ids.push(this.actibityInfoId);
                                            $("#lunbo").append(html);
                                        })
                                        //建造实例
                                        carousel.render({
                                            elem: '#test1'
                                            , width: '80%' //设置容器宽度
                                            , arrow: 'always' //始终显示箭头
                                            , interval: 2000
                                            //,anim: 'updown' //切换动画方式
                                        });
                                    }
                                });
                            });
                        }, 864000);
                    }
                });
            }
        });
    }
    function KillImg(GoodsId) {
        location.href = "/ShowMasters/GoodsLook?GoodsId=" + GoodsId;
    }
    //秒杀按钮
    function Kill(GoodsId) {
        alert(GoodsId);
    }
    function Lun(Id) {
        location.href = "/ShowMasters/GoodsLook?GoodsId=" + Id;
    }
    $(function () {
        Lunbo();
        //热卖24小时显示
        setInterval(function () {
            $.ajax({
                url: "http://localhost:50519/api/GoodsInfo/GetGoodsInfoTop",
                dataType: "json",
                type: "get",
                contentType: "application/x-www-form-urlencoded",
                success: function (d) {
                    $("#hotgoods").empty();
                    $(d).each(function () {
                        var html = "<li><a onclick='Hot(" + this.goodsInfoId + ")'><img class='hot'  src='" + this.goodsInfoImage + "' /></a></li>";
                        $("#hotgoods").append(html);
                    })
                }
            });
        }, 864000);    
    })
    function Hot(GoodsId) {
        location.href = "/ShowMasters/GoodsLook?GoodsId=" + GoodsId;         
    }
    function Ser() {
        var Name = $("#searchInput").val();
        location.href = "/ShowMasters/SerchGoods?Name=" + Name +"&Flag=1";
    }
    function Alist(s) {
        $.ajax({
            url: "http://localhost:50519/api/FiveSister/GetClothesTypes?TypeId=" + s,
            dataType: "json",
            type: "get",
            contentType: "application/x-www-form-urlencoded",
            success: function (d) {
                location.href = "/ShowMasters/SerchGoods?Name=" + d[0].clothesTypeName +"&Flag=2";
            }
        });
    }
</script>
